.margin-auto{
    margin: auto;
}

@media (min-width:600px) {
    .max-width{
        max-width: var(--max-width);
    }
    .about-project-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .span-column-2{
        grid-column: span 2;
    }
}
