/* global.css */

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Root Variables */
:root {
    /* Colors */
    --icterine: #fffd82ff;
    --space-cadet: #2d3047ff;
    --turquoise: #48e5c2ff;
    --pakistan-green: #143109ff;
    --magnolia: #f7f0f5ff;

    /* Font Sizes */
    --font-size-base: 16px;  /* Base font size */
    --font-size-sm: 0.875rem; /* Small font size */
    --font-size-lg: 1.5rem; /* Large font size */
    --font-size-xl: 2rem;  /* Extra large font size */
    
    /* Line Heights */
    --line-height-normal: 1.5;

    /* Spacing (Margins and Paddings) */
    --spacing-xs: 0.25rem; /* Extra small */
    --spacing-sm: 0.5rem;  /* Small */
    --spacing-md: 1rem;    /* Medium */
    --spacing-lg: 1.5rem;  /* Large */
    --spacing-xl: 2rem;    /* Extra large */

    /* Shadows */
    --shadow-default: 0 2px 5px rgba(0, 0, 0, 0.2);
    --shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.3);

    --max-width: 1600px;
}

/* Global Styles */
body {
    font-size: var(--font-size-base);
    line-height: var(--line-height-normal);
    color: var(--space-cadet);
    background-color: var(--magnolia);
}

/* Utility classes for padding */
.p-sm { padding: var(--spacing-sm); }
.p-md { padding: var(--spacing-md); }
.p-lg { padding: var(--spacing-lg); }

/* Utility classes for horizontal and vertical padding */
.ph-sm { padding-left: var(--spacing-sm); padding-right: var(--spacing-sm); }
.ph-md { padding-left: var(--spacing-md); padding-right: var(--spacing-md); }
.ph-lg { padding-left: var(--spacing-lg); padding-right: var(--spacing-lg); }

.pv-sm { padding-top: var(--spacing-sm); padding-bottom: var(--spacing-sm); }
.pv-md { padding-top: var(--spacing-md); padding-bottom: var(--spacing-md); }
.pv-lg { padding-top: var(--spacing-lg); padding-bottom: var(--spacing-lg); }
/* Utility classes for margin */
.mt-sm { margin-top: var(--spacing-sm); }
.mt-md { margin-top: var(--spacing-md); }
.mt-lg { margin-top: var(--spacing-lg); }

.mb-sm { margin-bottom: var(--spacing-sm); }
.mb-md { margin-bottom: var(--spacing-md); }
.mb-lg { margin-bottom: var(--spacing-lg); }

/* Utility classes for auto margin */
.m-auto { margin: 0 auto; }

/* Combining top and bottom margin utilities */
.mv-sm { margin-top: var(--spacing-sm); margin-bottom: var(--spacing-sm); }
.mv-md { margin-top: var(--spacing-md); margin-bottom: var(--spacing-md); }
.mv-lg { margin-top: var(--spacing-lg); margin-bottom: var(--spacing-lg); }
/* Font size utility classes */
.text-base { font-size: var(--font-size-base); }
.text-lg { font-size: var(--font-size-lg); }
.text-xl { font-size: var(--font-size-xl); }
/* Header Styles */
.header {
    background-color: var(--space-cadet);
    color: var(--magnolia);
    padding: var(--spacing-md);
}

.container {
    max-width: 1200px; /* This can be adjusted or made responsive */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: var(--font-size-xl);
    font-weight: bold;
}

.txt-left{
    text-align: left;
}
.txt-center{
    text-align: center;
}
.txt-right{
    text-align: right;
}

@media (min-width:600px) {
    .bg-scr-txt-left{
        text-align: left;
    }
    .bg-scr-txt-center{
        text-align: center;
    }
    .bg-scr-txt-right{
        text-align: right;
    }
}
